<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>findaride: Trip marked full</title>
</head>
<body style="text-align: center;">
    <p>Hi!</p>
    <p>Your upcoming trip from {{ dep }} to {{ arr }} has been marked full by one of the participants.</p>
    <p>Users will no longer be able to request to join this trip.</p>
    <p>Navigate to your <a href="findaride.onrender.com/dashboard">dashboard</a> for more details.</p>
    <p style="font-weight: bold;">-findaride team</p>
</body>
</html>