{% load render_vite_bundle %}
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>findaride</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGLVZlQtZlE_3-sWs6t9aPlpXhR4mI378&libraries=places&callback=Function.prototype"></script>
  {% if DEBUG %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
  {% endif %}
</head>

<body style="margin: 0;">

  <div id="app"></div>

  {% if DEBUG %}
    <!--DEBUG MODE-->
    <script type="module" src="http://localhost:5173/main.js"></script>
  {% else %}
    <!--PRODUCTION MODE-->
    {% render_vite_bundle %}
  {% endif %}
</body>

</html>